@model Vidly.Models.Customer
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Customer</h2>

@using (Html.BeginForm("Create", "Customers"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m=>m.Name,new { @class="form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Birthdate)
        @Html.TextBoxFor(m => m.Birthdate, new { @class = "form-control" })
    </div>
    @*<div class="form-group">
        @Html.LabelFor(m => m.IsSubscribedToNewsletter)
        @Html.CheckBoxFor(m => m.IsSubscribedToNewsletter, new { @class = "form-control" })
    </div>*@
    //getbootstrap.com -> css ->forms
    
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m=>m.IsSubscribedToNewsletter) Subscribed to Newsletter?
            @*<input type="checkbox"> Check me out*@
        </label>
    </div>


}

